# Builds
*.hex
*.bin
.pio/

# Configurações pessoais
config.h
credentials.h

# Dados de teste grandes
*.csv
*.log
data/raw/

test/logs/

# IDEs
.vscode/
.idea/

# Artefatos genéricos
*.d
*.slo
*.lo
*.o
*.obj
*.gch
*.pch
*.so
*.dylib
*.dll
*.mod
*.smod
*.lai
*.la
*.a
*.lib
*.exe
*.out
*.app
